WebRoleRekenModule/Service References/ServRefRekenModule/RekenModuleService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RekenDllExample">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RekenDllExampleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RekenDllExampleResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RekenDllExampleMutex">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RekenDllExampleMutexResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RekenDllExampleMutexResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>