WebRoleRekenModule/Service References/ServRefRekenModule/RekenModuleService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RekenModuleService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:16150/RekenModuleService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:16150/RekenModuleService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRekenModuleService_RekenDllExample_InputMessage">
    <wsdl:part name="parameters" element="tns:RekenDllExample" />
  </wsdl:message>
  <wsdl:message name="IRekenModuleService_RekenDllExample_OutputMessage">
    <wsdl:part name="parameters" element="tns:RekenDllExampleResponse" />
  </wsdl:message>
  <wsdl:message name="IRekenModuleService_RekenDllExampleMutex_InputMessage">
    <wsdl:part name="parameters" element="tns:RekenDllExampleMutex" />
  </wsdl:message>
  <wsdl:message name="IRekenModuleService_RekenDllExampleMutex_OutputMessage">
    <wsdl:part name="parameters" element="tns:RekenDllExampleMutexResponse" />
  </wsdl:message>
  <wsdl:portType name="IRekenModuleService">
    <wsdl:operation name="RekenDllExample">
      <wsdl:input wsaw:Action="http://tempuri.org/IRekenModuleService/RekenDllExample" message="tns:IRekenModuleService_RekenDllExample_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRekenModuleService/RekenDllExampleResponse" message="tns:IRekenModuleService_RekenDllExample_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RekenDllExampleMutex">
      <wsdl:input wsaw:Action="http://tempuri.org/IRekenModuleService/RekenDllExampleMutex" message="tns:IRekenModuleService_RekenDllExampleMutex_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRekenModuleService/RekenDllExampleMutexResponse" message="tns:IRekenModuleService_RekenDllExampleMutex_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRekenModuleService" type="tns:IRekenModuleService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RekenDllExample">
      <soap:operation soapAction="http://tempuri.org/IRekenModuleService/RekenDllExample" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RekenDllExampleMutex">
      <soap:operation soapAction="http://tempuri.org/IRekenModuleService/RekenDllExampleMutex" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RekenModuleService">
    <wsdl:port name="BasicHttpBinding_IRekenModuleService" binding="tns:BasicHttpBinding_IRekenModuleService">
      <soap:address location="http://localhost:16150/RekenModuleService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>