WebRoleRekenModule/Service References/ServRefRekenModule32/RekenModule32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Calculate32">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Calculate32Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Calculate32Result" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Calculate32Mutex">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Calculate32MutexResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Calculate32MutexResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>