WebRoleRekenModule/Service References/ServRefRekenModule32/RekenModule32.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RekenModule32" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:16156/RekenModule32.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:16156/RekenModule32.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRekenModule32_Calculate32_InputMessage">
    <wsdl:part name="parameters" element="tns:Calculate32" />
  </wsdl:message>
  <wsdl:message name="IRekenModule32_Calculate32_OutputMessage">
    <wsdl:part name="parameters" element="tns:Calculate32Response" />
  </wsdl:message>
  <wsdl:message name="IRekenModule32_Calculate32Mutex_InputMessage">
    <wsdl:part name="parameters" element="tns:Calculate32Mutex" />
  </wsdl:message>
  <wsdl:message name="IRekenModule32_Calculate32Mutex_OutputMessage">
    <wsdl:part name="parameters" element="tns:Calculate32MutexResponse" />
  </wsdl:message>
  <wsdl:portType name="IRekenModule32">
    <wsdl:operation name="Calculate32">
      <wsdl:input wsaw:Action="http://tempuri.org/IRekenModule32/Calculate32" message="tns:IRekenModule32_Calculate32_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRekenModule32/Calculate32Response" message="tns:IRekenModule32_Calculate32_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Calculate32Mutex">
      <wsdl:input wsaw:Action="http://tempuri.org/IRekenModule32/Calculate32Mutex" message="tns:IRekenModule32_Calculate32Mutex_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRekenModule32/Calculate32MutexResponse" message="tns:IRekenModule32_Calculate32Mutex_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRekenModule32" type="tns:IRekenModule32">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Calculate32">
      <soap:operation soapAction="http://tempuri.org/IRekenModule32/Calculate32" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Calculate32Mutex">
      <soap:operation soapAction="http://tempuri.org/IRekenModule32/Calculate32Mutex" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RekenModule32">
    <wsdl:port name="BasicHttpBinding_IRekenModule32" binding="tns:BasicHttpBinding_IRekenModule32">
      <soap:address location="http://localhost:16156/RekenModule32.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>